/*Acá van los estilos del navbar*/

/* Small devices (landscape phones) */
@media (max-width: 768px) { 
    #padreNavbar{
        background-color: black;
    }
    #iconNavbar{
        width: 50px;
        height: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #padreNavbar{
        background-color: black;
    }
    #iconNavbar{
        width: 50px;
        height: 50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #padreNavbar{
        background-color: black;
    }
    #iconNavbar{
        width: 50px;
        height: 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #padreNavbar{
        background-color: black;
    }
    #iconNavbar{
        width: 50px;
        height: 50px;
    }
}